<%= render "shared/header" %>
    
 <div class="row py-3">
    <div class="col-3">
    </div>
    <div class="text-center col-6">
     <ul>
      <% @tweets.each do |tweet| %>
        <li class="list-group py-2">
         <%= image_tag tweet.image.variant(resize: '300x500') if tweet.image.attached? %>
        </li>
        <li class="list-group py-1">
         <%= link_to tweet.title,tweet_path(tweet) %>
        </li>
        <li class="list-group">
          <%= tweet.text %>
        </li>
      <% end %>
     </ul>
     </div>
     <div class="col-3">
     </div>
    </div>